### Docker compose files ##################################

# Docker image name (same as that in Makefile)
PROJECT_IMAGE_NAME=vue3-quasar-backend

# Define the prefix of container names. This is useful if you have multiple projects that use laradock to have separate containers per project.
COMPOSE_PROJECT_NAME=vue3-quasar-backend

### Application #############################
VITE_ENV=production
HOST_APP_PORT=3000